.notEspecifico{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 40px 60px;
    gap: 40px;
}

.corpoNotiEspecifo{
    max-width: 700px!important;
    min-width: 600px!important;
    border: 0px solid black;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.corpoNotiEspecifo h2{
    font-size: 1.2rem;
    width: 600px;
    color: #263238;
    line-height: 40px;
}

.corpoNotiEspecifo img{
    width: 100%;
}

.fotoDeCapa{
    border-radius: 5px;
    overflow: hidden;
}

.fonteData{
    display: flex;
    justify-content: space-between;
}

.fonteData span{
    font-size: 12px;
    color: #999;
}

.fonteData span i{
    font-weight: 700;
    font-size: 10px;
    color: #999;
}

.dataFoto{
    font-size: 10px;
    color: #999;
}

.textoConteudo p{
    font-size: 14px;
    color: #404040;
    line-height: 30px;
    text-align: justify;
}

.textoConteudo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.noticiasRelacionadasEspecifico{
    width: 220px;
    min-height: 700px;
    border: 1px solid #ddd;
    padding: 20px 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 3px 3px 0px;
    border-radius: 5px;
}

.noticiasRelacionadasEspecifico h2{
    font-size: 13px;
}

ul{
    list-style: none;
    
}

.noticiasRelacionadasEspecifico ul {
    margin-top: 20px;
}

.noticiasRelacionadasEspecifico ul li img{
    width: 70px;
}

.noticiasRelacionadasEspecifico ul li{
    display: flex;
    gap: 5px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    padding-top: 15px;
}

.noticiasRelacionadasEspecifico ul li a{
    font-size: 12px;
    font-weight: 700;
    text-align: justify;
    max-width: 100px;
    border: 0px solid black;
}

.noticiasRelacionadasEspecifico ul li a:hover{
    color: #ca0f08;
    transition: all .3s ease;
}
.dataLanceNotRelacionada{
    font-size: 10px;
    color: #aaa;
    margin-top: 3px;
}

.noticiasRelacionadasEspecifico ul li:last-child{
    border: 0px;
}

.estisticasJogador{
    padding: 40px 0px;
}

.ultimoJogo{
    border: 1px solid #ccc;
    width: 470px;
    min-height: 100px;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
}

.headerEstatistica{

    background-color: #f9f9f9;
    height: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
    border-bottom: 1px solid #ccc;
    padding: 0px 10px;

}

.headerEstatistica h2{
    font-size: 13px;
}

.camp{
    font-size: 9px;
    color: #aaa;
}

.ultimoJogo ul{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.ultimoJogo ul li span img{
    width: 12px;
}

.ultimoJogo ul li span:first-child{
    background-color: #ececec;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 100%;
}

.ultimoJogo ul li{
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    justify-content: center;
}

.ultimoJogo ul li span{
    font-size: 12px;
    

}

.ultimoJogo ul li span:nth-child(2){
    font-weight: 700;
}

.ultimoJogo ul li span:last-child{
    font-size: 10px;
    color: #aaa;
    text-align: center;
}

.cartoes{
    display: flex;
    align-items: center;
    gap: 2px;
}

.cardRe:first-child{
    color: rgb(214, 214, 3);
}

.cardRe:last-child{
    color: red;
}

.cardJogo{
    height: 300px;
    background-color: #f9f9f9;
    border-bottom: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.finalizado{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.finalizado img{
    width: 50px;
}

.imgsEquipes{
    /* height: 100px;
    width: 100px;
    border: 4px solid #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    z-index: 9999;
}

.pintura{
    position: absolute;
    height: 100px;
    width: 100px;
    left: -5px;
    bottom: 0px;
    border-radius: 100%;
    border: 4px solid #ca0f08;
    display: none;
    z-index: 999;
}

.coberNm{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 13px;
    gap: 10px;
}

.coberNm:last-child{
    flex-direction: row-reverse;
}

.descriJogos div{
    text-align: center;
}

.descriJogos{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ligaTaca, .dataEvento{
    font-size: 14px;
    color: #777;
}

.resulatadoJogo{
    font-size: 1.7rem;
    font-weight: 700;
}

.dataEvento{
    font-size: 9px;
    font-weight: 700;
}

.barraFinalizado{
    height: 20px;
    width: 100px;
    background-color: #ca0f08;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;

}

.estatisticasDaPartida{
    min-height: 400px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    display: none;
}

.estatisticasDaPartida .headerEstatisticasGerais{
    height: 20px;
    background-color: #f9f9f9;
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
}

.estatisticasDaPartida .headerEstatisticasGerais h2{
    font-size: 14px;
}