@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*:not(i,span){
    font-family: 'Roboto', sans-serif !important;
}


:root{
    --paragrafos: #222;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    color: var(--paragrafos);
}

a{
    text-decoration: none;
}

.logoMenu{
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0px solid #fff;
    width: 100%;
}

.logoMenu a img{
    height: 30px;
}

.logoMenu a {
    display: flex;
    align-items: center;
}

.logoMenu a .le{
    display: flex;
    align-items: center;
    gap: 13px;
}

.logoMenu a .le span{
    color: #f1f1f1;
    font-size: 13px;
}

.logoMenu a .le span:first-child{
    height: 12px;
    width: 1px;
    background-color: #999;

}

.infos{
    background-color: #fff;
    height: 0px;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infos .redesInfos{
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.infos .redesInfos a img{
    width: 11px;
}

header nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
    z-index: 999999;
    /* box-shadow: 0 2px 4px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08); */
}

header nav{
    height: 45px;
    display: flex;
    align-items: center;
    padding: 0px 60px;
    background-color: #000;
    width: 100%;
    left: 0;
    top: 0;
}
header nav ul li{
    border: 0px solid black;
    height: 45px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}
header nav ul li a{
    font-size: 13px;
    padding: 0px 15px;
    height: 38px;
    display: flex;
    align-items: center;
    color: #f1f1f1;
}

header nav ul li a:hover{
    background-color: #000;
    color: #fff;
    transition: all 0.5s ease;
}

.logoMenu{
    display: flex;
    align-items: center;
    gap: 40px;
}

.slide{
    height: calc(100vh - 64px);
    border: 0px solid black;
    background-image: url(../imgs/BannersNoticias/MAMBAS.webp);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.slide .textoPublic{
    position: absolute;
    height: calc(100% - 80px);
    width: calc(100% - 120px);
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8));
    top: 0;
    left: 0;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    transition: all .4s ease;
}

.slide .textoPublic .tituloSlide{
    width: 700px;
    font-size: 2rem;
    color: #ccc;
    
    text-align: center;
    line-height: 40px;
    transition: all .3s ease;
}

.slide .textoPublic a{
    display: flex;
    align-items: center;
    /* background-color: #cd122d; */
    color: white;
    gap: 10px;
    border: 0px solid #fff;
    padding: 0px 15px;
    border-radius: 5px;
    font-size: 13px;
}

.slide .textoPublic a span{
    color: #fff;
}

.slide .textoPublic a img{
    width: 10px;
    transform: rotate(0deg);
}

.barra{
    height: 0px;
    background: #fff;
}

.cetas{
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 0px 60px;
    background-color: rgba(0, 0, 0, 0);
    top: 40%;
    left: 0;
    height: 50px;
    width: calc(100% - 120px);
    z-index: 9999;
}

.cetas{
    display: flex;
    align-items: center;
    justify-content: space-between;
    visibility: hidden;
    transition: all .3s ease;
}

.cetas .ceta img{
    width: 12px;
}

.cetas .ceta:first-child{
    transform: rotate(180deg);
}

.cetas .ceta{
    background-color: rgba(0, 0, 0, 0.5);
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.slide{
    padding: 0px 0px;
}

.slide .textoPublic:hover .cetas{
    visibility: visible;
}

.slide .textoPublic:hover .tituloSlide{
    text-decoration: underline;
    line-height: 45px;
}
.slide .textoPublic:hover{
    position: absolute;
    height: calc(100% - 160px);
    width: calc(100% - 120px);
    padding: 80px 60px;
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1));
}

.humburguer{
    width: 28px;
    height: 40px;
    border: 0px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.humburguer span{
    width: 25px;
    height: 1px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.humburguer span:nth-child(2){
    width: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.humburguer span:nth-child(3){
    width: 15px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.humburguer:hover span{
    width: 100%;
    transition: all .3s ease;
}


.contatosInfos{
    display: none;
}

.contatosInfos ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.contatosInfos ul li{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contatosInfos ul li a{
    font-size: 10px;
    color: #adadad;
    font-weight: normal;
}

.linguas ul{
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
    border: 0px solid black;
    height: 35px;
}

.linguas ul li .logins{
    font-size: 12px;
    padding: 5px 15px;
    border: 1px solid  black;
    font-size: 10px;
}

.linguas ul li .con{
    font-size: 12px;
    padding: 5px 12px;
    border: 1px solid  black;
    background-color: #000;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
}

.linguas img{
    width: 13px;
}

.linguas span{
    font-size: 13px;
}

.pesquisar img{
    width: 15px;
}

.pesquisar{
    cursor: pointer;
}

.escrever{
    display: flex;
    border: 0px solid #fff;
    gap: 10px;
    align-items: center;
}

.menuLogo{
    display: flex;
    align-items: center;
    gap: 15px;
}

.barraVertical{
    height: 12px;
    width: 0px;
    background-color: #999;

}

.entrar img{
    width: 15px;
}

.escrever a{
    visibility: hidden;
}

/*------------------------------------------------------------*/

.corpo{
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
}

.corpo section:first-child{
    width: 80%;
    border: 0px solid black;
    min-height: 200px;
    
}
.corpo section:last-child{
    width: 19%;
    border: 1px solid black;
    min-height: 200px;
}
.destaque{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

    border-bottom: 1px solid #aaa;
    padding: 10px 0px;
}
.destaque .nots{
    width: 49.5%;
    height: 300px;
    border: 0px solid black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    
}

.corpo h2{
    font-size: 1.5rem;
    color: #263238;
}

.destaque .textoTitulo{
    position: absolute;
    height: calc(100% - 40px);
    width: calc(100% - 30px);
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8));
    top: 0;
    left: 0;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    transition: all .3s ease;
}

.parceiros{
    height: 100px;
    border: 1px solid black;
    margin-top: 40px;
}

.destaque .textoTitulo a{
    color: #fff;
}

.dataLance{
    color: #fff;
    font-size: 10px;
}

.destaque .nots .textoTitulo:hover{
    position: absolute;
    height: calc(100% - 120px);
    width: calc(100% - 30px);
    padding: 60px 15px;
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1));
}

.destaque .nots .textoTitulo:hover a{
    text-decoration: underline;
}