@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*:not(i,span){
    font-family: 'Roboto', sans-serif !important;
}


:root{
    --paragrafos: #222;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    color: var(--paragrafos);
}

body{
    background-color: #fff;
}

a{
    text-decoration: none;
}

.logoMenu{
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0px solid #fff;
    width: 100%;
}

.logoMenu a img{
    height: 30px;
}

.logoMenu a {
    display: flex;
    align-items: center;
}

.logoMenu a .le{
    display: flex;
    align-items: center;
    gap: 13px;
}

.logoMenu a .le span{
    color: #fff;
    font-size: 13px;
}

.logoMenu a .le span:first-child{
    height: 12px;
    width: 1px;
    background-color: #fff;

}

.infos{
    background-color: #fff;
    height: 0px;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infos .redesInfos{
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.infos .redesInfos a img{
    width: 11px;
}

header nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
    z-index: 999999;
    /* box-shadow: 0 2px 4px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08); */
}

header nav{
    height: 45px;
    display: flex;
    align-items: center;
    padding: 0px 60px;
    background-color: #ca0f08;
    width: calc(100% - 120px);
    left: 0;
    top: 0;
    z-index: 999999;
}
header nav ul li{
    border: 0px solid black;
    height: 45px;
    display: flex;
    align-items: center;
}
header nav ul li a{
    font-size: 12px;
    padding: 2px 15px;
    height: 38px;
    display: flex;
    align-items: center;
    color: #fff;
}

header nav ul li a:hover{
    background-color: #fff;
    color: #222;
    transition: all 0.5s ease;
}

.destaqueLink{
    margin-top: 0px;

    border-bottom: 2px solid #fff!important;
}

.logoMenu{
    display: flex;
    align-items: center;
    gap: 40px;
}

.slide{
    height: calc(100vh - 150px);
    border: 0px solid black;
    background-image: url(../imgs/BannersNoticias/b1.png);
    background-size: 100%;
    background-position: center!important;
    background-repeat: no-repeat!important;
    position: relative!important;
    display: flex;
    margin: 20px 60px;
    border-radius: 5px;
    overflow: hidden;
    transition: all .5s ease;
}

.slide .textoPublic{
    position: absolute;
    height: calc(100% - 80px);
    width: calc(100% - 120px);
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    top: 0;
    left: 0;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    transition: all .4s ease;
}

.slide .textoPublic .tituloSlide{
    width: 600px;
    font-size: 1.5rem;
    color: #fff;
    
    text-align: center;
    line-height: 30px;
    transition: all .3s ease;
}

.slide .textoPublic a{
    display: flex;
    align-items: center;
    /* background-color: #cd122d; */
    color: white;
    gap: 10px;
    border: 0px solid #fff;
    padding: 0px 15px;
    border-radius: 5px;
    font-size: 13px;
}

.slide .textoPublic a span{
    color: #fff;
}

.slide .textoPublic a img{
    width: 10px;
    transform: rotate(90deg);
}

.barra{
    height: 0px;
    background: #fff;
}

.cetas{
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 0px 60px;
    background-color: rgba(0, 0, 0, 0);
    top: 40%;
    left: 0;
    height: 50px;
    width: calc(100% - 120px);
    z-index: 9999;
}

.cetas{
    display: flex;
    align-items: center;
    justify-content: space-between;
    visibility: hidden;
    transition: all .3s ease;
}

.cetas .ceta img{
    width: 12px;
}

.cetas .ceta:first-child{
    transform: rotate(180deg);
}

.cetas .ceta{
    background-color: rgba(0, 0, 0, 0.5);
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.slide{
    padding: 0px 0px;
}

.slide .textoPublic:hover .cetas{
    visibility: visible;
}

.slide .textoPublic:hover .tituloSlide{
    text-decoration: underline;
    line-height: 45px;
}
.slide .textoPublic:hover{
    position: absolute;
    height: calc(100% - 160px);
    width: calc(100% - 120px);
    padding: 80px 60px;
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
}
.humburguer{
    width: 28px;
    height: 40px;
    border: 0px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    display: none;
}

.humburguer span{
    width: 25px;
    height: 1px;
    background-color: #fff;
    border-radius: 10px;
}

.humburguer span:nth-child(2){
    width: 20px;
    border-radius: 10px;
}

.humburguer span:nth-child(3){
    width: 15px;
    border-radius: 10px;
}

.humburguer:hover span{
    width: 100%;
    transition: all .3s ease;
}


.contatosInfos{
    display: none;
}

.contatosInfos ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.contatosInfos ul li{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contatosInfos ul li a{
    font-size: 10px;
    color: #adadad;
    font-weight: normal;
}

.linguas ul{
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
    border: 0px solid black;
    height: 35px;
}

.linguas ul li .logins{
    font-size: 12px;
    padding: 5px 15px;
    border: 1px solid  #ccc;
    font-size: 10px;
    border-radius: 4px;
    
}



.linguas ul li .con{
    font-size: 12px;
    padding: 4px 12px;
    border: 1px solid  #ca0f08;
    background-color: #ca0f08;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 4px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.linguas img{
    width: 13px;
}

.linguas span{
    font-size: 13px;
}

.pesquisar img{
    width: 15px;
}

.pesquisar{
    cursor: pointer;
}

.escrever{
    display: flex;
    border: 0px solid #fff;
    gap: 10px;
    align-items: center;
}

.menuLogo{
    display: flex;
    align-items: center;
    gap: 15px;
}

.barraVertical{
    height: 12px;
    width: 0px;
    background-color: #fff;

}

.entrar img{
    width: 15px;
}

.escrever a{
    visibility: hidden;
}

/*------------------------------------------------------------*/

.corpo{
    display: flex;
    justify-content: space-between;
    padding: 0px 60px;
}

.corpo section:first-child{
    width: 80%;
    border: 0px solid black;
    min-height: 200px;
    
}
.corpo section:last-child{
    width: 19%;
    border: 0px solid black;
    min-height: 200px;
}
.destaque{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

    border-bottom: 1px solid #aaa;
    padding: 10px 0px;
}
.destaque .nots{
    width: 49.5%;
    height: 300px;
    border: 0px solid black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    
}

.corpo h2{
    font-size: 1rem;
    color: #000;
    border-bottom: 1px solid #ccc;
    margin: 20px 0px;
    padding-bottom: 20px;
}

.destaque .textoTitulo{
    position: absolute;
    height: calc(100% - 40px);
    width: calc(100% - 30px);
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    top: 0;
    left: 0;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    transition: all .3s ease;
}



.destaque .textoTitulo a{
    color: #fff;
}

.dataLance{
    color: #fff;
    font-size: 10px;
}

.destaque .nots .textoTitulo:hover{
    position: absolute;
    height: calc(100% - 120px);
    width: calc(100% - 30px);
    padding: 60px 15px;
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1));
}

.destaque .nots .textoTitulo:hover a{
    text-decoration: underline;
}

.lastNot img{
    width: 100px;
    
}

.lastNot{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.lastNot li{
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.lastNot li a{
    font-size: 12px;
    font-weight: 700;
}

.lastNot li:hover a{
    color: #ca0f08;
    transition: all .3s ease;
}

.dataUltima{
    font-size: 9px;
    color: #c6c6c6;
}

.textosUltimas{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.moreNot{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 50px;
    cursor: default;
}

.more{
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid #ccc;
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
}

.more img{
    width: 10px;
    transform: rotate(90deg);
}

.more span{
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 700;
}

.outrasNoticias{
    margin-top: 20px;
    border: 0px solid black;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.outrasNoticias li{
    width: 250px;
    min-height: 200px;
    border: 0px solid black;
}

.outrasNoticias li img{
    width: 100%;
}

.outrasNoticias li a{
    font-size: 14px;
    color: #222;
    font-weight: 700;
    text-align: justify;
}

.outrasNoticias li:hover a{
    color: #ca0f08;
    transition: all .3s ease;
}

.outrasNoticias li:hover img{
    width: 95%;
    transition: all .3s ease;
}

.fonte{
    display: flex;
    font-size: 9px;
    gap: 5px;
    
}

.fonte div{
    color: #c6c6c6;
}

.partidas{
    padding: 20px 60px;
    border: 0px solid black;
    min-height: 200px;
}

.partidas h2{
    font-size: 1rem;
}

.partida{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
    padding: 20px 0px;
    border: 0px solid black;
}

.partida li{
    
    width: 320px;
    border: 1px solid #ccc;
    min-height: 200px;
    border-radius: 5px;
    overflow: hidden;
}
.partida li:hover{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: hidden;
    transition: all .3s ease;
}

.partidaHeader{
    height: 20px;
    background-color:  #f9f9f9;
    border-bottom: 1px solid #ccc;
}

.partidaHeader{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.partidaHeader div{
    color: #222;
}

.partidaHeader .dia{
    font-size: 1.2rem;
    font-weight: 700;
}

.partidaHeader .diaS{
    font-size: 12px;
    font-weight: 700;
}

.partidaHeader .mes{
    font-size: 12px;
}

.corpoPartida{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
    min-height: 150px;
}

.corpoPartida img{
    width: 50px;
}

.quemJoga{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.equipes span{
    font-size: 1rem;
}

.quemJoga .liga{
    font-size: 12px;
    font-weight: 700;
    color: #154284;
}

.quemJoga .horas{
    font-size: 1.5rem;
    font-weight: 700;
}

.equipes{
    display: flex;
    align-items: center;
    gap: 4px;
}

.equipes h3{
    font-size: 10px;
}

.campo{
    font-size: 10px;
    font-weight: normal;
}

.clubes{
    display: flex;
    gap: 10px;
    padding: 10px 60px;
    justify-content: center;
    display: none;
}

.clubes a{
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.clubes a img{
    width: 30px;
}

.classiResult{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px 60px;
}

.ligasClassificacao{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.resultadoDastUltimasPartidas{
    width: 29%;
    min-height: 500px;
    border: 1px solid #ccc;
    display: none;
}

.ligaCla{
    width: 49%;
    min-height: 500px;
    border: 1px solid #ccc;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
    border-radius: 5px;
    overflow: hidden;
}

.headerLigaCla{
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc;
}

.headerLigaCla div{
    font-size: 12px;
    font-weight: 700;
    
}

.equipe{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 15px;
    gap: 10px;
    border-bottom: 1px solid #ccc;
}

.equipes:last-child .equipe{
    border: 0px;
}

.equipe img{
    width: 30px;
}

.clas{
    display: flex;
    align-items: center;
    gap: 5px;
}

.clas span{
    font-size: 10px;
}

.dataSub img{
    width: 9px;
    height: 9px;
}

.dataJogoEquipe{
    font-size: 9px;
    font-weight: 700;
}

.nomeEquipes{
    font-size: 12px;
    font-weight: 700;
}

.dataSub{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 0px solid black;
}

.dataSub span{
    font-size: 9px;
    font-weight: 700;
}

.posSubi{
    display: flex;
    align-items: center;
    gap: 5px;
}

.infosEquipe{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.mercado{
    padding: 10px 60px;
    margin-bottom: 20px;
}

.mercado h2{
    font-size: 1rem;
}

.notMercado{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border: 0px solid black;
}

.destaqueMercado{
    width: 600px;
    min-height: 400px;
    border: 0px solid black;
    background-image: url(../imgs/Noticias/GUIMA-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.destaqueMercado .textoDestaqueMercado{
    position: absolute;
    height: calc(100% - 80px);
    width: calc(100% - 120px);
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    top: 0;
    left: 0;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    transition: all .4s ease;
}

.destaqueMercado .textoDestaqueMercado .textoTituloDestaque{
    position: absolute;
    height: calc(100% - 40px);
    width: calc(100% - 30px);
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    top: 0;
    left: 0;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    transition: all .3s ease;
}

.destaqueMercado .textoDestaqueMercado .textoTituloDestaque a{
    color: #fff;
}

.destaqueMercado .textoDestaqueMercado .textoTituloDestaque .dataLanceDestaque{
    color: #fff;
    font-size: 10px;
}

.destaqueMercado .textoDestaqueMercado .textoTituloDestaque:hover{
    position: absolute;
    height: calc(100% - 120px);
    width: calc(100% - 30px);
    padding: 60px 15px;
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1));
}

.destaqueMercado .textoDestaqueMercado .textoTituloDestaque:hover a{
    text-decoration: underline;
}

.outrasNotMercado{
    list-style: none;
    display: flex;
    width: calc(100% - 590px);
    border: 0px solid black;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.outrasNotMercado li{
    width: 250px;
    min-height: 200px;
    border: 0px solid black;
}

.outrasNotMercado li img{
    width: 100%;
}

.outrasNotMercado li a{
    font-size: 14px;
    color: #222;
    font-weight: 700;
    text-align: justify;
}

.outrasNotMercado li:hover a{
    color: #ca0f08;
    transition: all .4s ease;
}

.outrasNotMercado li:hover img{
    width: 95%;
    transition: all .4s ease;
}

.jogadoresEquipe{
    padding: 20px 60px;
}

.jogadoresEquipe ul li{
    max-width: 300px!important;
    min-width: 300px!important;
    height: 300px;
    border: 1px solid #ccc;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.jogadoresEquipe ul{
    padding: 20px 5px;
    width: 100%;
    display: flex;
    overflow-x: scroll;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
}
.jogadoresEquipe ul::-webkit-scrollbar{
    height: 4px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.jogadoresEquipe ul::-webkit-scrollbar-thumb{
    background-color: #aaa;
    width: 40px;
    border-radius: 10px;
}

.textoPubliJogador{
    position: absolute;
    height: calc(100% - 0px);
    width: calc(100% - 0px);
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.nomeJogadorPubli{
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.diJogadores{
    opacity: 0%;
}

.funcaoJogador{
    font-size: 13px;
    color: #fff;
    text-align: center;
}

.textoPubliJogador:hover .diJogadores{
    
    opacity: 100%;
    transition: all .5s ease;
}

.textoPubliJogador:hover{
    padding: 20px 15px;
    height: calc(100% - 40px);
    width: calc(100% - 30px);
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1));
}

.conquistas{
    padding: 10px 60px;
    display: none;
}

.conquistas h2{
    font-size: 1rem;
    text-align: center;
}

.trofeus{
    display: flex;
    list-style: none;

}


footer{
    background-color: #f5f5f7;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    padding: 20px 60px;
    gap: 15px;
    justify-content: center;
}

footer ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

footer ul li a{
    color: #222;
    font-size: 12px;
    text-decoration: none;
    opacity: 100%;
    font-weight: 700;
}

.tracoF{
    height: 1px;
    background-color: #ddd;
    border: 0px solid #222;
}

.assinaCompany{
    font-size: 12px;
    color: #222;
    font-weight: 700;
    text-align: center;

}

.assiDev{
    font-size: 10px;
    color: #888;
    text-align: center;
    opacity: 85%;
}

.contagem{
    transition: all .3s ease;
}

.parceiros{
    height: 50px;
    border: 0px solid black;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: #f5f5f7;
    padding: 20px 60px;
    border-bottom: 1px solid #bbb;
    padding-top: 40px;
}

.parceiros a img{
    width: 80px;
}

.barraPesquisa{
    height: 0px;
    background-color: #ca0f08;
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    left: 0;
    top: 40px;
    overflow: hidden;
    width: 100%;
    z-index: 9999999;
    visibility: hidden;
}

.barraPesquisa form{
    background-color: #eee;
    width: 500px;
    height: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    
    overflow: hidden;
    flex-wrap: nowrap!important;
}

.barraPesquisa form input[type="search"]{
    width: calc(100% - 22px);
    height: 25px;
    background-color: #eee;
    border: 0px;
    outline: none;
    text-indent: 10px;
    font-size: 10px;
}

.barraPesquisa form img{
    width: 15px;
    margin-right: 9px;
    cursor: pointer;
}

ul{
    list-style: none;
}

.partidkj{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
}

.jogosProx{
    border: 0px solid black;
}

.jogosProx .partida{
    border: 0px solid black;
}

.alkGame{
    width: calc(100% - 300px);
}

.jogosProx .partida li{
    width: 360px;
    min-height: 280px;
    align-items: center;
}

.jogosProx .partida li .corpoPartida{
    min-height: 220px;
    border: 0px solid black;
    padding: 0px;
    margin: 0px;
}

.jogosProx .partida{
    gap: 5px;
}

.partidkj  h2{
    font-size: 13px;
}

.proximosEventos{
    width: calc(270px - 0px);
    height: 200px;
    margin-top: 30px;
    padding: 0px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 4px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: 1px solid #ccc;
    border-radius: 5px; */
}

.caledarioEventos{
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #eee;
}

.caledarioEventos .divCal{
    background-color: #ca0f08;
    height: 40px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caledarioEventos .divCal img{
    width: 14px;
}
.caledarioEventos h2{
    color: #555;
    font-size: 12px;
}

.ultimoJogoDesputado{
    display: none;
}

.mesEvento{
    width: 100%;
    border: 0px solid black;
    margin-top: 15px;
}

.mesEvento h3{
    font-size: 12px;
    text-align: center;
}

.headerDias{
    margin-top: 10px;

}

.headerDias ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10px;
    padding: 10px 15px;
    background-color: #eee;
    border-bottom: 1px solid #aaa;
}

.headerDias ul li{
    font-size: 10px;
    font-weight: 700;
    color: #555;
}

.dias{
    display: flex;
    flex-direction: column;
    
}

.dias ul{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    padding: 10px 15px;
}

.dias ul li{
    font-size: 10px;
}

.eventosDestques{
    background-color: #ca0f08;
    color: #fff;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
}

.eventosDestques:hover{
    background-color: #adadad;
    color: #000;
    transition: all .3s ease;
}

.oEvento{
    padding: 10px 15px;
    font-size: 12px;
    color: #555;
    text-align: center;
    border-top: 1px solid #ccc;
}

section{
    margin-top: 10px;
}

section:first-child{
    margin-top: 0px;
}

.equipe a:hover{
    color: #ca0f08;
}