@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*:not(i,span){
    font-family: 'Roboto', sans-serif !important;
}


:root{
    --paragrafos: #222;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    color: var(--paragrafos);
}

a{
    text-decoration: none;
}

.logoMenu{
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoMenu a img{
    height: 30px;
}

.logoMenu a {
    display: flex;
    align-items: center;
}

.logoMenu a .le{
    display: flex;
    align-items: center;
    gap: 13px;
}

.logoMenu a .le span{
    color: #f1f1f1;
    font-size: 13px;
}

.logoMenu a .le span:first-child{
    height: 12px;
    width: 1px;
    background-color: #999;

}

.infos{
    background-color: #fff;
    height: 0px;
    padding: 10px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infos .redesInfos{
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.infos .redesInfos a img{
    width: 10px;
}

header nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
}

header nav{
    height: 45px;
    display: flex;
    align-items: center;
    padding: 0px 60px;
    background-color: #000;
}
header nav ul li{
    border: 0px solid black;
    height: 45px;
    display: flex;
    align-items: center;
}
header nav ul li a{
    font-size: 13px;
    padding: 0px 15px;
    height: 38px;
    display: flex;
    align-items: center;
    color: #f1f1f1;
}

header nav ul li a:hover{
    background-color: #000;
    color: #fff;
    transition: all 0.5s ease;
}

.logoMenu{
    display: flex;
    align-items: center;
    gap: 40px;
}

.slide{
    height: calc(100vh - 64px);
    border: 0px solid black;
    background-image: url(../imgs/BannersNoticias/MAMBAS.webp);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.slide .textoPublic{
    position: absolute;
    height: calc(100% - 80px);
    width: calc(100% - 120px);
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1));
    top: 0;
    left: 0;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    transition: all .3s ease;
}

.slide .textoPublic .tituloSlide{
    width: 700px;
    font-size: 2rem;
    color: #ccc;
    
    text-align: center;
    line-height: 40px;
    transition: all .3s ease;
}

.slide .textoPublic a{
    display: flex;
    align-items: center;
    /* background-color: #cd122d; */
    color: white;
    gap: 10px;
    border: 0px solid #fff;
    padding: 0px 15px;
    border-radius: 5px;
    font-size: 13px;
}

.slide .textoPublic a span{
    color: #fff;
}

.slide .textoPublic a img{
    width: 10px;
    transform: rotate(90deg);
}

.barra{
    height: 0px;
    background: #cd122d;
}

.cetas{
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 0px 60px;
    background-color: rgba(0, 0, 0, 0);
    top: 40%;
    left: 0;
    height: 50px;
    width: calc(100% - 120px);
    z-index: 9999;
}

.cetas{
    display: flex;
    align-items: center;
    justify-content: space-between;
    visibility: hidden;
    transition: all .3s ease;
}

.cetas .ceta img{
    width: 12px;
}

.cetas .ceta:first-child{
    transform: rotate(180deg);
}

.cetas .ceta{
    background-color: rgba(0, 0, 0, 0.5);
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.slide .textoPublic:hover .cetas{
    visibility: visible;
}

.slide .textoPublic:hover .tituloSlide{
    text-decoration: underline;
    line-height: 45px;
}
.slide .textoPublic:hover{
    position: absolute;
    height: calc(100% - 80px);
    width: calc(100% - 120px);
}

.humburguer{
    width: 25px;
    height: 40px;
    border: 0px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.humburguer span{
    width: 25px;
    height: 2px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.humburguer span:nth-child(2){
    width: 20px;
    height: 2px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.humburguer span:nth-child(3){
    width: 15px;
    height: 2px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.contatosInfos{
    display: none;
}

.contatosInfos ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.contatosInfos ul li{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contatosInfos ul li a{
    font-size: 10px;
    color: #adadad;
    font-weight: normal;
}

.linguas{
    display: none;
}

.linguas img{
    width: 10px;
}

.linguas span{
    font-size: 13px;
}